.navbar {
    background: var(--primary-dark);
    padding: 15px 0;
    color: white;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.hero {
    background: linear-gradient(
        rgba(31,94,78,0.8),
        rgba(120,178,124,0.7)
    ),
    url("../images/hero.jpg") center/cover no-repeat;

    padding: 80px 0;
    color: white;
}

.section {
    padding: 60px 0;
}
